
 body {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.linediv {
    width: 100%;
    height: 1px;
    border: 1px;
    background-color: grey;
    margin-top: 27px;
    margin-bottom: 30px;
}

.main {
    width: 90%;
    min-height: 1000px;
    border: 0px solid red;
    margin: auto;
}

.main2 {
    width: 100%;
    height: 55px;
    border: 0px solid blue;
    display: flex;
    /* margin-top: 10px; */
}

.divh21 {
    margin-top: 8.5px;
    width: 180px;
    height: 55px;
    background-color: rgb(13,112,185);
}

.divh21>p {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    cursor: text;
}

.divh212 {
    margin-left: 20px;
    margin-top: 8.5px;
    width: 100px;
    height: 53px;
    /* font-size: 18px; */

}

/* .main2>div:nth-child(4) {
        width: 180px;
        height: 53px;

    } */

.divh212>p {
    /* margin-top: 30px; */
    padding-top: 17px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    /* font-size: 17px; */

}

.h21 {
    display: inline;
}

.main31 {
    width: 25px;
    height: 10px;
    background-color: #128296;
}

.main32 {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.main32>h4 {
    margin-top: 6px;
}

.main32>a {
    margin-right: 4px;
    font-size: 12px;
}

#news_container {
    width: 100%;
    height: 300px;
    border: 0px solid green;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3,1fr) ; */
    gap: 20px;
    margin-top: 10px;
}

#news_container>div:nth-child(1) {
    /* border: 0px solid blue; */
   
    background-color: #8ABEC7;
}

#news_container>div {
    /* border: 0px solid blue; */
    background-color: #F6F6F6;
}

#news_container>div:nth-child(1)>P {
    width: 80%;
    text-align: center;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    color: blue;
    text-decoration: underline;
}

#news_container>div:nth-child(1)>h6 {
    width: 80%;
    /* text-align: center ; */
    margin-left: 60px;
    font-size: 15px;
    /* font-weight: bold; */
    margin-top: -15px;
    color: blue;
}

.two2 {
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 3.3px;
}

.two2>div:nth-child(1) {
    width: 50%;
    height: 100%;
}

.two2>div:nth-child(1)>img {
    width: 100%;
    height: 95%;
}

.two2>div:nth-child(2) {
    /* margin-top: 20px; */
    width: 50%;
    height: 100%;
}

.two2>div:nth-child(2)>p {
    margin-left: 5px;
    font-weight: bold;
    /* font-size: 11px; */
}

.two2>div:nth-child(2)>p:hover {
    text-decoration: underline;
    color: green;
}

/* /////////// */
.third3 {
    width: 100%;
    height: 30%;
    margin-top: 9px;
    display: flex;
    border: 0px solid red;
    box-sizing: border-box;
}

.third3>div:nth-child(1) {
    width: 30%;
    height: 100%;

}

.third3>div:nth-child(2) {
    width: 70%;
    height: 100%;
}

.third3>div:nth-child(2)>p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.third3>div:nth-child(2)>p:hover {
    text-decoration: underline;
    color: green;
}

.third3>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
}
.add{
    width: 100%;
}