body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#container{
width: 60%;
height: 400px;
border: 1px solid red;
margin: auto;
}

.img{
    width: 100%;

}
#container > div > p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}